.popap__input-save {
  border-radius: 2px;
  border: none;
	background-color: #000;
	width: 358px;
	height: 50px;
  margin: 0 auto 36px;
  cursor: pointer;
  outline: none;
}

.popap__input-save:hover {
  opacity: .8;
  transition: opacity 200ms linear;
}

@media screen and (max-width: 1050px) {
  .popap__input-save {
    min-width: 281px;
    min-height: 45px;
  }
}

@media screen and (max-width: 500px) {
  .popap__input-save {
    margin-bottom: 25px;
    max-width: 250px;
    min-height: 35px;
  }
}
