.popap__input-save {
	border-radius: 2px;
	background-color: #000;
	width: 27vw;
	height: 3.92vw;
	margin: 48px auto 36.5px;
}

.popap__input-save:hover {
  opacity: .6;
  transition: opacity 200ms linear;
}
